USE [master]
GO
/****** Object:  Database [CHIQUEPIGGY]    Script Date: 05/05/2021 08:23:10 ******/
CREATE DATABASE [CHIQUEPIGGY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHIQUEPIGGY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.GOLNICH\MSSQL\DATA\CHIQUEPIGGY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CHIQUEPIGGY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.GOLNICH\MSSQL\DATA\CHIQUEPIGGY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHIQUEPIGGY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHIQUEPIGGY]
GO
USE [CHIQUEPIGGY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/05/2021 08:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 05/05/2021 08:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Cod_Cliente] [int] NULL,
	[Nome_Cliente] [nvarchar](50) NOT NULL,
	[Saldo] [int] NOT NULL,
	[Horario] [datetime] NULL,
	[Computador] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pontos]    Script Date: 05/05/2021 08:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pontos](
	[Id_Cliente] [int] NOT NULL,
	[Total_Pontos] [int] NULL,
 CONSTRAINT [PK_Pontos] PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendas]    Script Date: 05/05/2021 08:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendas](
	[Id_Venda] [int] IDENTITY(1,1) NOT NULL,
	[Id_Cliente] [int] NULL,
	[Valor_Compra] [real] NULL,
	[Data_Compra] [date] NULL,
	[Horario] [datetime] NULL,
	[Computador] [nchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PR_CHIQUEPIGGY_PONTO_INS]    Script Date: 05/05/2021 08:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[PR_CHIQUEPIGGY_PONTO_INS]      
(     

@Id_Cliente int,
@Valor_Compra DECIMAL(18,2),     
@Data_Compra DATE,      
@Horario DATETIME,  
@Computador VARCHAR(100),  
@Pontos INT,
@Verifica bit
)     
AS     
BEGIN     
INSERT [dbo].Vendas(Id_Cliente, Valor_Compra, Data_Compra, Horario, Computador)VALUES(@Id_Cliente,@Valor_Compra,@Data_Compra,@Horario,@Computador)    
END

BEGIN
if (@Verifica = 1)
update Pontos set Total_Pontos = Total_Pontos + @Pontos where Id_Cliente = @Id_Cliente;

ELSE
insert into Pontos(Id_Cliente, Total_Pontos) values(@Id_Cliente, @Pontos)

end





GO
USE [master]
GO
